/*  */
.post{
    height: 650px;
    width: 100%;
    background-color: #7B84B4;
    
}
.img1{
    position: absolute;
    width: 57%;
    left: 40%;
    top: 10%; 
}
.blur{
    height: 650px;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(#0501318d, #21178f72,#5d68ce46);
}
#h11{
    color:#F8E8DA;
    font-size: 67px;
    font-family: Abhaya Libre SemiBold;
    font-weight: bold;
}
.aa{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 6px;
}
.aa:hover{
    color: black;
}
.title{
    text-align:justify;
    position: relative;
    top: 32%;
    margin-left: 5%;
}
#offer{
    width: 20%;
    height: 550px;
    margin-top: 10%;
    /* position: absolute;
    top: 230%;*/
} 
@media screen and (max-width:1280px){
    .post{
        height: 650px;
        width: 100.5%;
    } 
    .blur{
        height: 650px;
        width: 100.5%;
    }
}